<div class="container" style="margin-top: 70px;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Courses" aria-label="Search Courses"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="search-btn btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="row center">
    <div class="col-md">
      <div class="card-body">
        <h5 class="card-title">Course Name</h5>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <br>
        <h5 class="card-title">Semester</h5><br>
        <h5 class="card-title">Teaching Mode</h5>
      </div>
    </div>
    <div class="col-md">
      <div class="card example-1 scrollbar-ripe-malinka">
        <div class="card-body">
          <h4 id="section1"><strong>First title of the news</strong></h4>
          <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card card-white post">
        <div class="col-12">
          <div class="float-left meta">
            <div class="title h5">
              <b>Ryan Haywood</b>
            </div>
            <div class="post-description">
              <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
                framework. Codes for developers and web designers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-white post">
        <div class="col-12">
          <div class="float-left meta">
            <div class="title h5">
              <b>Ryan Haywood</b>
            </div>
            <div class="post-description">
              <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
                framework. Codes for developers and web designers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-white post">
        <div class="col-12">
          <div class="float-left meta">
            <div class="title h5">
              <b>Ryan Haywood</b>
            </div>
            <div class="post-description">
              <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
                framework. Codes for developers and web designers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-white post">
        <div class="col-12">
          <div class="float-left meta">
            <div class="title h5">
              <b>Ryan Haywood</b>
            </div>
            <div class="post-description">
              <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
                framework. Codes for developers and web designers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-white post">
        <div class="col-12">
          <div class="float-left meta">
            <div class="title h5">
              <b>Ryan Haywood</b>
            </div>
            <div class="post-description">
              <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
                framework. Codes for developers and web designers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>